<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}9 Lives Cat Rescue{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Shrink navbar on scroll -->
    <script>
        // Shrink navbar on scroll
        window.addEventListener('scroll', () => {
            const nav = document.querySelector('nav');
            const site_name = document.querySelector('#site_name');
            const logo = document.querySelector('#logo');
            const mobile_menu = document.querySelector('#mobile-menu');
            const scroll_dist = 50;

            // Nav bar size and colour
            nav.classList.toggle('bg-purple-900', window.scrollY > scroll_dist);
            nav.classList.toggle('py-1', window.scrollY > scroll_dist);
            nav.classList.toggle('py-4', window.scrollY <= scroll_dist);
            nav.classList.toggle('pl-1', window.scrollY > scroll_dist);
            nav.classList.toggle('pl-4', window.scrollY <= scroll_dist);            

            site_name.classList.toggle('text-md', window.scrollY > scroll_dist);
            site_name.classList.toggle('text-xl',window.scrollY <= scroll_dist);
            
            // Logo height
            logo.classList.toggle('h-10', window.scrollY > scroll_dist);
            logo.classList.toggle('h-20', window.scrollY <= scroll_dist);

            // Mobile menu placement and colour
            mobile_menu.classList.toggle('bg-purple-800', window.scrollY > scroll_dist);
            mobile_menu.classList.toggle('mt-12', window.scrollY > scroll_dist);
            mobile_menu.classList.toggle('mt-28', window.scrollY <= scroll_dist);
            
        });
    </script>


    <!-- Alpine.js CDN -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- heroicons -->
    <script src="https://cdn.jsdelivr.net/npm/heroicons@2.0.17/dist/heroicons.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>

<body class="min-h-screen flex flex-col bg-gray-300 text-gray-900">
    <!-- NAVBAR -->
    <nav
        class="fixed top-0 w-full z-30 bg-purple-700 py-4 pr-4 pl-4 text-white flex items-center justify-between">

        <!-- Logo and name -->
        <a href="/" class="flex items-center">
            <div class="flex">
                <img class="h-20 w-auto rounded-md mr-2" id="logo" src="{% static 'images/9lives_logo.webp' %}"
                    alt="9 Lives Cat Rescue Logo">
            </div>
            <div id="site_name" class="text-white font-semibold text-xl">
                9 Lives Cat Rescue
            </div>
        </a>

        <ul class="hidden md:flex space-x-4 text-sm">
            <li><a href="/" class="hover:underline">Home</a></li>
            <li><a href="/about/" class="hover:underline">About Us</a></li>
            <li><a href="/cats/" class="hover:underline">Cats for adoption</a></li>
            <li><a href="/vets/" class="block">Our Vets</a></li>
            <!-- <li><a href="/fostering/" class="hover:underline">Fostering</a></li>
            <li><a href="/events/" class="hover:underline">Events</a></li>
            <li><a href="/shop/" class="hover:underline">Shop</a></li> -->
        </ul>

        <!-- Mobile Menu Button -->
        <button id="mobile-menu-btn" class="md:hidden text-white focus:outline-none">
            <i class="fa fa-bars fa-lg"></i>
        </button>
    </nav>

    <!-- Mobile Menu -->
    <div id="mobile-menu"
        class="fixed hidden md:hidden mt-28 px-6 pt-2 pb-2 space-y-4 z-50 bg-purple-600 w-full text-white">
        <a href="/" class="block">Home</a>
        <a href="/about/" class="block">About Us</a>
        <a href="/cats/" class="block">Cats For Adoption</a>
        <a href="/vets/" class="block">Our Vets</a>
        <!-- <a href="/fostering/" class="block">Fostering</a>
        <a href="/our-supporters/" class="block">Our Supporters</a>
        <a href="/our-team/" class="block">Our Team</a>
        <a href="/admin/" class="block">Admin</a> -->
    </div>

    <!-- Mobile Menu Toggle Script -->
    <script>
        const btn = document.getElementById('mobile-menu-btn');
        const menu = document.getElementById('mobile-menu');
        btn.addEventListener('click', () => menu.classList.toggle('hidden'));
    </script>

    <!-- MAIN CONTENT -->
    <main class="flex-grow w-full lg:max-w-7xl mx-auto mt-28 mb-2 p-4">
        {% block content %}{% endblock %}
    </main>

    <!-- FOOTER -->
    <footer class="flex w-full bottom-0 bg-white border-t py-4">
        <div class="text-xs max-w-7xl mx-auto px-4 text-center text-gray-600">
            <p>© {{ now|date:"Y" }} 9 Lives Cat Rescue - Giving rescue cats a chance at a second life</p>
        </div>
    </footer>

</body>

</html>