{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-heading-main">Home</h1>
    <h2 class="page-heading-secondary">
        Giving rescue cats a chance at a second life
    </h2>
    <p class="page-paragraph">
        9 Lives Cat Rescue has been rescuing abandoned, abused and stray cats in Perth WA since 2009. We believe in advocating for all cats, which is why our motto is 'until they all have a home'.
    </p>
    <p class="page-paragraph">
        9 Lives is a registered charity run entirely by volunteers, which means we rely solely on donations to operate. All money goes directly to the cats and their care. We operate on a network of foster carers located all over Perth, which allows the cats we rescue to receive the care they need until they are ready for their forever homes
    </p>
</div>
{% endblock %}