{% extends "base.html" %}
{% block title %}9 Lives Cat Rescue - Applications{% endblock %}
{% block content %}
<h1 class="text-xl mb-4">Applications</h1>
<div class="flex flex-col">
    {% for application in applications %}
    <div class="flex flex-col md:grid md:grid-cols-6 p-4 relative bg-white rounded-lg shadow-md">
        {{ application.full_name }}
        <div>
            Cats:
            {% for cat in application.cats.all %}
            {{ cat.name }}
            {% endfor %}
        </div>
        <div>
            {{ application.city }}, {{ application.postal_code }}
        </div>
        <div>
            {{ application.get_status_display }}
        </div>
        <div>
            {{ application.submitted_at }}
        </div>
        <a href="{% url 'application_detail' application.pk %}" class="text-center rounded-full bg-purple-600 text-white">
            View
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}